/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap'); */

:root {
  --off-white: #FAF9F6;
  --jet-black: #343434;
  --button-text-light: var(--jet-black);
  --button-border-light: var(--off-white);
  --button-background-hover-light: var(--off-white);
  --button-text-dark: var(--jet-black);
  --button-border-dark: rgb(8, 127, 72, 0.7);
  --button-background-hover-dark: rgb(8, 127, 72, 0.3);
  --table-text: var(--jet-black);
}

.requiredelement {
  color: red;
}

html.main {
  font-size: 2vw;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #000000;
  background: rgb(255, 255, 255);
  margin: 0;
  min-width: 320px;
  padding: 0;
  width: 100%;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.autherrorcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  width: 100%;
}

.autherrortext {
  position: relative;
  left: 1em;
  top: 3em;
}

.autherrorlink {
  border: 2px solid black;
}

.nav__menu-list #text {
  background-color: rgba(0, 255, 255, 1);
  
}

a {
  text-decoration: none;
  color: #000;
}

header {
  position: sticky;
  z-index: 30;
  top: 0;

}

main {
  height: 100vh;
}

nav {
  align-items: center;
  background-color: rgb(8, 127, 72);
  color: #000;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding-left: 1em;
}

a.textlogo {
  color: #000;
  font-size: 25px;
  font-weight: 700;
}

/* Hamburger menu */
.nav__menu-bar {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  row-gap: 6px;
}

.nav__menu-bar div {
  background-color: black;
  border-radius: 2px;
  height: 4px;
  width: 40px;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: rgb(8,127,72);
  color: #000;
}

.nav__item {
  color: #000;
  font-size: larger;
}

.nav__menu-list.active {
  right: 0;
}

link {
  color: #000;
}

.nav__link {
  color: #000;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  font-weight: bold;
}

.loginbutton {
  border: 1px solid black;
}

.center {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-height: 600px;
}

footer {
  align-items: center;
  width: 100%;
}

footer a {
  color: #000;
  display: flex;
  justify-content: center;
  height: auto;
}

@media screen and (max-width: 450px) {
  footer {
    border-color: transparent;
    margin-top: 1em;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }

  .nav__menu-list {
    position: unset;
    flex-direction: row;
    height: 10vh;
    min-height: -moz-fit-content;
    min-height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }

  .nav__link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }

  .nav__link:hover::before {
    width: 100%;
  }
}

/* Dropdown menu */
.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu-item {
  cursor: pointer;
}

.dropdown-menu-submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu:hover .dropdown-menu-submenu {
  display: block;
}

.dropdown-menu-submenu a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu-submenu a:hover {
  background-color: #f1f1f1;
}

::placeholder {
  font-style: italic;
}