.tableWrapper {
	height: 100%;
	overflow-y: auto;
	width: 100%;
	scroll-behavior: smooth;
}

.genericTable {
	width: 100%;
	table-layout: fixed;
	border: 1px solid rgba(0,0,0,0.3);
	position: sticky;
}

.genericTable thead {
	background-color: rgba(178,178,178,255);
	position: sticky;
  	top: 0;
}

.genericTable th {
	padding: 1rem 1rem;
	text-align: left;
	font-weight: 700;
	font-size: 1rem;
	color: var(--table-text);
	text-transform: uppercase;
	word-break: break-all;
}

.genericTable tbody tr {
    width: 100%;
}

.genericTable td {
	padding: 0.25rem;
	text-align: left;
	vertical-align: middle;
	font-size: 0.875rem;
	color: var(--table-text);
	border-bottom: solid 1px rgba(0,0,0,0.1);
	width: 100%;
	word-wrap: break-word;
}

.genericTable tbody tr:hover {
	background-color: rgba(0,0,0,0.1);
}

.tableWrapper::-webkit-scrollbar {
    width: 10px;
}

.tableWrapper::-webkit-scrollbar-track {
	background-color: transparent;
  }
  

.tableWrapper::-webkit-scrollbar-thumb {
 	background-color: rgba(104,140,140,0.3);
	border-radius: 20px;
  	border: 6px solid transparent;
}

.genericTableColumnHeaderAsc {
	display: flex;
	align-items: end;
}

.genericTableColumnHeaderDesc {
	display: flex;
	align-items: start;
}

.actionItem {
	margin-right: 0.3rem;
	cursor: pointer;
}

.genericTableHeader {
	display: flex;
	flex-direction: row;
	align-items: inherit;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: white;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	word-wrap: break-word;
}

.tableSearch {
	padding: 0.2rem;
	font-size: 1rem;
}

.editableInput {
	border: 1px solid rgb(8, 127, 72, 0.7);
	border-radius: 4px;
	padding: 0.15rem;
	width: 100%;
}